.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  flex-wrap: wrap;
  z-index: 1;
  background-color: var(--background-color-secondary);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  padding: 20px;
}

.header a {
  color: var(--text-color);
  text-decoration: none;
}

.header a:hover {
  color: palevioletred;
}

.headerContentRight a {
  margin-inline-end: 1.5rem;
}

.headerContentRight a:last-child {
  margin-inline-end: 0;
}

.link {
  color: #888888;
  text-decoration: none;
}
