.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--background-color-secondary);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 20px;
}

.header a {
  color: var(--text-color);
  text-decoration: none;
}

.header a:hover {
  color: #9639a8;
}

.headerContentRight a {
  margin-inline-end: 1.5rem;
}

.headerContentRight a:last-child {
  margin-inline-end: 0;
}
