.kanjiEntry {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-secondary);
  margin: 3rem;
  width: 30%;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 2rem;
}

.kanjiResult {
  text-align: start;
  font-size: 6rem;
  font-family: "Mochiy Pop One", sans-serif;
  margin: 0;
}

.kanjiDetail {
  margin: 1rem 0;
}

.kanjiInfo {
  text-align: start;
  margin: 0;
}

/* .projectContainer {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: min-content;
  justify-content: center;
  max-width: 100%;
  overflow: visible;
  padding: 30px;
  position: relative;
}

.projectSubcontainer {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
}

.projectImage {
  align-items: center;
  aspect-ratio: 1.333 / 1;
  background: linear-gradient(
    180deg,
    var(--token-11dab1c1-ce69-43f5-99ba-2f5a404fcafc, #cfecff) 0%,
    var(--token-003f7a06-7a49-44ee-b932-7e9040747fa3, #00497a) 100%
  );
  border-radius: 20px;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1px;
}

.projectDescription {
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 1px;
}

.projectDescription p {
  text-align: left;
  font-family: "Inter", sans-serif;
  color: #888888;
}

.projectDescription a {
  text-decoration: none;
  color: var(--text-color);
}

.projectDescription a:hover {
  color: #00497a;
} */
