.app {
  background-color: var(--background-color);
}

.intro {
  text-align: left;
  /* padding: 0px 30px 0px 30px; */
}

.intro p {
  margin: 0px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--background-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Instrument Serif", italic;
}

.sectionWrapper p {
  margin: 0;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color: #888888;
  padding-bottom: 20px;
}

.contact p {
  margin: 0 auto;
}

.bodyText {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  padding-bottom: 20px;
}

.bodyText p {
  margin: 0px auto;
}

.inputContainer {
  width: max-content;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input {
  height: 70%;
  font-family: "Inter", sans-serif;
  font-size: inherit;
  border-start-start-radius: var(--border-radius-small);
  border-end-start-radius: var(--border-radius-small);
  border-width: 0.1rem;
  margin: 0;
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid #9639a8;
}

.button {
  display: flex;
  border-style: none;
  border-start-end-radius: var(--border-radius-small);
  border-end-end-radius: var(--border-radius-small);
  width: max-content;
  height: fit-content;
  padding: 0.8rem;
  background-color: #9639a8;
  color: #fffaef;
  font-family: "Mochiy Pop One", normal;
  cursor: pointer;
  align-items: center;
}

.list {
  list-style-type: none;
  padding-inline-start: 0;
}

.gridContainer {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}

.gridItem {
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
  padding: 0.6rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 6rem;
  font-family: "Mochiy Pop One", sans-serif;
  max-width: 8rem;
  cursor: pointer;
}

.loading,
.error {
  font-size: 1rem;
  margin: 2rem 0;
}
