.skillContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 40px;
  color: var(--text-color);
  padding: 0;
  background-color: var(--background-color);
  text-align: left;
}

.skillContainer h1 {
  text-align: left;
  font-size: 32px;
  margin: 16px 0 16px 40px;
}

.skillSubcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: min-content;
  justify-content: left;
  padding: 1rem;
  position: relative;
}

.skillSubcontainer ul {
  list-style-type: none;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  margin: 0.4rem auto;
}

.skillDescription {
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 1px;
}

.skillDescription a {
  text-decoration: none;
  color: black;
}

.skillDescription a:hover {
  color: #00497a;
}
