:root {
  --border-radius-small: 0.3rem;
  --border-radius-medium: 0.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html.light {
  --background-color: #f0e9d8;
  --background-color-secondary: #fffaef;
  --text-color-secondary: #15152c;
  --text-color: #12101e;
}

html.dark {
  --background-color: #12101e;
  --background-color-secondary: #15152c;
  --text-color-secondary: #fffaef;
  --text-color: #fffaef;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  h1 {
    font-family: "Mochiy Pop One", normal;
    font-weight: inherit;
    font-size: 3rem;
  }
  h2 {
    font-family: "Mochiy Pop One", normal;
    font-weight: inherit;
    font-size: 2rem;
  }
  h3 {
    font-family: "Mochiy Pop One", normal;
    font-weight: inherit;
    font-size: 1.5rem;
  }
  p, li {
    font-family: "Inter", sans-serif;
    font-weight: inherit;
  }
  a {
    text-decoration: underline;
    text-transform: none;
    color: inherit;
  }
}

body {
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 0 2rem;
}
